.panel.panel-default.drop-down-panel
  .panel-heading
    %span.glyphicon.glyphicon-chevron-up
    .panel-title
      -#= link_to_blank image_tag("images/android-logo.png"), "https://www.android.com"
      Android™ (
      .star.full
      .star.half
      .star.empty
      .star.empty
      .star.empty
      )
  .panel-body
    .panel-body-section
      %span.bold Experience:
      1 month academic
    .panel-body-section
      %span.bold Usage:
      I learned Android for one of my courses in graduate school. We breifly learned the basics of the framework, and then had 2 weeks to write an application.
    .panel-body-section
      %span.bold Self-Rating Explanation and Musings:
      I only gave myself 1 and a half stars because I worked with Android for such a short amount of time and only wrote 1 application, though I did learn a lot about the whole development process - from design, to implementation to publishing. I did think it was pretty cool writing native apps, but at the time I was interested in learning other things and expanding my technology toolset more than I was in continuing to learn Android. Also the Android emulator is without a doubt one of the most frustratingly slow pieces of software I have ever had to deal with, so that did deter me from continuing on.
    / .panel-body-section
    /   %span.bold Android Logo Legal Notice:
    /   The Android robot is reproduced or modified from work created and shared by Google and used according to terms described in the Creative Commons 3.0 Attribution License.
