.panel.panel-default.drop-down-panel
  .panel-heading
    %span.glyphicon.glyphicon-chevron-up
    .panel-title
      -#= link_to_blank image_tag("images/nodejs-logo.png"), "http://expressjs.com/"
      NodeJS™/Express (
      .star.full
      .star.full
      .star.empty
      .star.empty
      .star.empty
      )
  .panel-body
    .panel-body-section
      %span.bold Experience:
      1 year academic
    .panel-body-section
      %span.bold Usage:
      I learned NodeJS as an undergraduate and used it to host a variety of small HTML based projects. As a graduate student, I learned Express as after some research it seemed to be the best choice for a small, simple framework for the project I was completing.
    .panel-body-section
      %span.bold Self-Rating Explanation and Musings:
      I gave myself only 2 stars with NodeJS/Express because although I was always able to get the functionality I wanted from them both, I never wanted any behavior too complex. As a result, I never really took a deep dive into their features/design as I have with other frameworks.
