.panel.panel-default.drop-down-panel
  .panel-heading
    %span.glyphicon.glyphicon-chevron-up
    .panel-title
      -#= link_to_blank image_tag("images/ruby-on-rails-logo.png"), "http://rubyonrails.org/"
      Ruby on Rails (
      .star.full
      .star.full
      .star.full
      .star.full
      .star.empty
      )
  .panel-body
    .panel-body-section
      %span.bold Experience:
      3 years academic, 2 years personal, 3 years professional (over a span of 6.5 years)
    .panel-body-section
      %span.bold Usage:
      %ul
        %li Contributed to an already mature Rails 3 API/database for a few months at UPMC Enterprises
        %li Contributed (significantly) to a large web-application using Rails 3 & 4 during my time at AthleteTrax
        %li Built many small web-applications using Rails 3 during my academic career
        %li I have been using Rails 4 for personal web-application development over the past few years
    .panel-body-section
      %span.bold Self-Rating Explanation and Musings:
      I gave myself 4 stars for Ruby on Rails because I have been working with it for a long time (relatively) and have used many of the features the framework provides. I did full-stack application development at AthleteTrax, writing routes/controller actions, coding HTML/CSS/JavaScript and then writing tests for Cucumber. I also learned a lot about configuration and environment management using Rails during my time at UPMC Enterprises. Through learning Rails, I have become competent with many of the supporting technologies that the Rails stack typically involves: HAML, SASS, Cucumber, Rspec, MiniTest, Capybara, JQuery, Bootstrap, SQL and of course, Ruby. I ended up writing this website with HAML, SASS, Bootstrap and JQuery because of how familiar I have become with them. However, I am reluctant to give myself over 4 stars because I am always learning new things about Rails, either from Railscasts, StackOverflow or my co-workers.
      