.panel.panel-default.drop-down-panel
  .panel-heading
    %span.glyphicon.glyphicon-chevron-up
    .panel-title
      -#= link_to_blank image_tag("images/sencha-touch-logo.png"), "https://www.sencha.com/products/touch/"
      Sencha Touch (
      .star.full
      .star.full
      .star.full
      .star.empty
      .star.empty
      )
  .panel-body
    .panel-body-section
      %span.bold Experience:
      6 months academic
    .panel-body-section
      %span.bold Usage:
      As part of my final project in graduate school, I created a mobile application using Sencha Touch 2 for a real world client. The application, which integrated heavily with the Google Maps and Calendar APIs, took advantage of Sencha Touch's easy integration with 
      = link_to_blank "Phonegap", "http://phonegap.com/"
      and was able to compile into both an Android and iOS application. After I graduated, I provided a small amount of extra support for the client's developers in order to understand more about the applications development environmentt, as well as add a few more features to the application
    .panel-body-section
      %span.bold Self-Rating Explanation and Musings:
      I gave myself 3 stars with Sencha Touch after such a short time of working with it because the framework isn't as large as something like Spring or Rails. Sencha Touch definitly had a very high learning curve at the start for me, mostly because it has much smaller community support than I was used to and finding example code was not easy. However once I learned a few of the basic tricks Sencha Touch uses and undertood the general design of the framework, I realized most of its implementation was very consistent. I was eventually able to predict componenent and method names, making implementation a breeze. I think Sencha Touch has good ideas/framework design, however needs more maturity in terms of documentation, community support and the framework's components.