.panel.panel-default.drop-down-panel
  .panel-heading
    %span.glyphicon.glyphicon-chevron-up
    .panel-title
      -#= link_to_blank image_tag("images/spring-logo.png"), "http://projects.spring.io/spring-framework/"
      Spring Boot (
      .star.full
      .star.full
      .star.full
      .star.half
      .star.empty
      )
  .panel-body
    .panel-body-section
      %span.bold Experience:
      6 months professional (and counting!)
    .panel-body-section
      %span.bold Usage:
      Currently building a large web service/API using Spring Boot at UPMC Enterprises that based on HL7's new
      = link_to_blank "FHIR", "https://www.hl7.org/fhir/"
      standard. 
    .panel-body-section
      %span.bold Self-Rating Explanation and Musings:
      I gave myself 3 and half stars with Spring Boot after only 6 months of use because I have been working with it heavily almost every day for those 6 months. While I have only focused on using a few of the Spring modules (mainly Spring MVC), I feel confident that I can solve most of the problems I face after a little bit of thought and research (and maybe adding a depedency or two). Spring is an extremely large framework with classes, modules and extensions for everything under the sun -- as a result I think my self-rating of my abilities with Spring will improve as I use and learn about more of these components.
    -# .panel-body-section
    -#   %span.bold Spring Logo Legal Notice:
    -#   The Spring logo is a trademark and/or registered trademark of Pivotal Software, Inc. in the United States and/or other countries.