#about-me
  background: image-url("about-me-background.jpg") no-repeat center center fixed
  background-size: cover
  background-attachment: scroll
  color: white
  background-color: #333

  #hello
    font-size: 3.5em
    padding: .5em

  #intro-statement

    .intro-statement-row
      @extend .row
      font-size: 2em
      margin-bottom: 1.5em

    .emphasized
      display: inline
      font-size: 1.5em

    #current-job-title
      color: #68F1CF

    #current-employer > a
      color: #F1CF68

    #current-location
      color: #68F18B

  #intro-links
    @extend .equal-height-column-row

    .intro-links-column
      @extend .equal-height-column

      a
        color: white

      .intro-link-image
        margin: 1em

      .text-image-spacer
        height: .1em

