#education

  .education-row
    @extend .equal-height-column-row

  .education-component
    @extend .equal-height-column

  .education-level
    font-size: 5em

  .education-degree a
    font-size: 3em

  .education-additional
    font-size: 2em

  .education-school
    font-size: 3em

  .education-location
    font-size: 1.5em

  .education-dates
    font-size: 1.5em

