#projects

  .project
    @extend .equal-height-column-row

    .project-image
      @extend .equal-height-column

    .project-text
      @extend .equal-height-column
      vertical-align: top

      .project-title
        @extend .row
        @extend .section-row-title
        text-align: left
        padding: .2em

      .project-description
        @extend .row
        text-align: left

      .project-links
        @extend .row
        margin-top: 2em
        text-align: center
        img
          margin-top: -.2em

      .legal
        @extend .equal-height-column
        text-align: left
        font-size: .55em

  #wildstyle-generator
    .project-title
      color: $maven-color

  #deals
    .project-title
      color: $spring-color

  #this-website
    .project-title
      color: $middleman-color

  #lineup-generator
    .project-title
      color: $java-color