// Misc
body
  margin-top: 4em

hr
  margin: 1em 0 1em 0
  border-top: 1px solid #cccccc

.bold
  font-weight: bold

.italics
  font-style: italic

.center
  text-align: center

// Top navbar
#top-navbar .navbar-img
  padding: .4em .7em

// Side navbar
#side-navbar
  margin-left: 1em

#side-navbar > .nav > .sub-section
  font-size: .9em
  text-indent: 1em

// Title
#title
  text-align: center
  padding: .25em
  font-size: 3em

// Content
#content
  margin-left: 12em
  margin-right: 2em

// Drop down panels
.drop-down-panel > .panel-heading
  cursor: pointer

.panel-heading > .glyphicon
  float: left
  margin-top: .2em
  margin-right: 1em

#application-frameworks .panel-heading > .glyphicon
  margin-top: .4em

.panel-body-section
  padding: 1em

.panel-body .panel-body
  padding: 0

// Stars
.star
  font-size: 1.5em
  line-height: 1em
  position: relative
  top: .1em
  display: inline-block
  color: LightGray

.star:last-child
  margin-right: 0

.star:before
  content: '\2605'

.star.full
  color: gold

.star.half:after
  content: '\2605'
  color: gold
  position: absolute
  margin-left: -.85em
  width: .43em
  overflow: hidden

// Technologies
#technologies table > tbody > tr > td:nth-child(2)
  white-space: nowrap

// Application Frameworks
#application-frameworks .panel-body .panel-heading
  color: white

#ruby-on-rails .panel-heading
  background-color: #981a21

#ruby-on-rails .panel-body-section:nth-child(odd)
  background-color: #FFE6E6

#spring .panel-heading
  background-color: #6db33f

#spring .panel-body-section:nth-child(odd)
  background-color: #C4F6C9

#sencha-touch .panel-heading
  background-color: #1985d0

#sencha-touch .panel-body-section:nth-child(odd)
  background-color: #CCD8FF

#nodejs-express .panel-heading
  background-color: #46483E

#nodejs-express .panel-body-section:nth-child(odd)
  background-color: #D6D6D6

#android .panel-heading
  background-color: #A4C639

#android .panel-body-section:nth-child(odd)
  background-color: #D9FF8C


// Mobile Styles
@media only screen and (max-width:767px)
  #content
    margin-left: 1em
    margin-right: 1em

  #side-navbar
    display: none

  #technologies table > tbody > tr > td:nth-child(2)
    white-space: normal