!!!
%html
  %head
    -# Meta Tags
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:name => "viewport", :content => "width=device-width", "initial-scale" => "1"}
    %meta{:name => "description", :content => "Adam Rosini, Software Engineer & Manager."}
    %title= "Adam Rosini"

    -# Styles
    = stylesheet_link_tag "styles"

  -# Content
  %body
    = yield

  -#  JQuery
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
  %script window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')

  -#  Bootstrap JS
  %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
  %script $.fn.modal || document.write('<script src="assets/js/vendor/bootstrap.min.js"><\/script>')

  -#  Custom JS
  = javascript_include_tag 'index'