%section.container-fluid
  #hello Hi! My name is Adam.

  #intro-statement.col-xs-8.col-xs-offset-2
    .col-xs-12.intro-statement-row
      I am a
      #job-title.emphasized Software Engineer & Manager.

    .col-xs-12.intro-statement-row
      I am currently looking for a remote position and live near
      #current-location.emphasized Boston, MA
      %span> . 

    .col-xs-12.intro-statement-row
      I specialize in building self-driven teams, as well as developing scalable distributed systems with Java.
      I have significant experience with operational incident management, ETL (Extract-Transform-Load) processes, and converting monolith architectures to event-driven microservices.