%section.container-fluid.dark
  .section-title Education

  .education-row.col-xs-12
    .col-xs-1.equal-height-column
    .col-xs-5.education-component.border-right
      .education-level Graduate
    .col-xs-5.education-component
      .education-level Undergraduate
    .col-xs-1.equal-height-column

  .education-row.col-xs-12
    .col-xs-1.equal-height-column
    .col-xs-5.education-component.border-right
      .education-degree= link_to_blank "M.S. in Information Systems Management", "http://www.heinz.cmu.edu/school-of-information-systems-and-management/information-systems-management-mism/index.aspx"
      .education-additional Specialization: Software Engineering
    .col-xs-5.education-component
      .education-degree= link_to_blank "B.S. in Information Systems", "http://www.cmu.edu/information-systems/"
      .education-additional Minor: Computer Science
    .col-xs-1.equal-height-column


  .education-row.col-xs-12
    .col-xs-1.equal-height-column
    .col-xs-5.education-component.border-right
      %br
      .education-school Carnegie Mellon University
      .education-location Pittsburgh, PA
      .education-dates Fall 2013 - Fall 2014
    .col-xs-5.education-component
      %br
      .education-school Carnegie Mellon University
      .education-location Pittsburgh, PA
      .education-dates Fall 2009 - Spring 2013
    .col-xs-1.equal-height-column

      




      
      
