%section.container-fluid
  .col-xs-12.section-title Experience

  #jobcase.col-xs-12.experience
    .col-xs-12.experience-title Senior Software Engineer
    .col-xs-12.experience-employer= link_to_blank "Jobcase, Inc", "http://www.jobcase.com/"
    .col-xs-12.experience-dates May 2016 - Present
    .col-xs-12.experience-body
      Description coming soon!
      %br
      = image_tag("images/under-construction.png")

  %hr.col-xs-10.col-xs-offset-1

  #upmc-enterprises.col-xs-12.experience
    .col-xs-12.experience-title  Intermediate Software Engineer
    .col-xs-12.experience-employer= link_to_blank "UPMC Enterprises", "http://enterprises.upmc.com/"
    .col-xs-12.experience-dates January 2015 - April 2016
    .col-xs-12.experience-body
      .col-xs-1.equal-height-column
      .col-xs-5.experience-description-wrapper
        .experience-description.pull-right
          .experience-description-title Software Engineering
          %ul
            %li Primarily worked on building web services using Ruby on Rails and Spring Boot.
            %li Built example clients, test suites and development infrastructure for most projects.
            %li Gained expertise of supporting technologies such as MySQL, MongoDB, JPA, Docker, Jenkins and Cucumber.
            %li Learned a lot about healthcare specific technologies such as Epic, Cerner, HL7 and Mirth.
            %li Helped maintain and support production deployments.
            %li Was involved in designing the system architecture for a few new applications.
      .col-xs-5.experience-description-wrapper
        .experience-description.pull-left
          .experience-description-title Teamwork and Leadership
          %ul
            %li Was heavily involved in creating and prioritizing the backlog for several projects.
            %li Gained experience working with larger teams and eliminating the "bus" factor.
            %li Consistently worked with other divisions such as product owners and QA to review requirements, tests and code.
            %li Developed an understanding of the healthcare domain and the role that technology plays in it.
            %li Recieved a promotion (Associate &rarr; Intermediate) after 1 year.
      .col-xs-1.equal-height-column

  %hr.col-xs-10.col-xs-offset-1

  #athletetrax.col-xs-12.experience
    .col-xs-12.experience-title Ruby on Rails Developer
    .col-xs-12.experience-employer= link_to_blank "AthleteTrax", "http://athletetrax.info"
    .col-xs-12.experience-dates May 2013 - August 2014
    .col-xs-12.experience-body
      .col-xs-1.equal-height-column
      .col-xs-5.experience-description-wrapper
        .experience-description.pull-right
          .experience-description-title Software Engineering
          %ul
            %li Built out features for the primary Ruby on Rails application.
            %li Contributed to and refactored the sizable Cucumber test suite.
            %li Maintained and debugged the production deployment and database.
            %li Provided infrastructure (through Google Analytics) for our data analysts. 
      .col-xs-5.experience-description-wrapper
        .experience-description.pull-left
          .experience-description-title Teamwork and Leadership
          %ul
            %li Was involved in the planning and design of the company's website and application.
            %li Was often given the chance to take the lead on small projects.
            %li Gained experience working with a small and partially remote team.
            %li Worked for/with the sales, data and management teams directly.
      .col-xs-1.equal-height-column

