%section.container-fluid
  .section-title Links
  .col-xs-12.profiles
    .col-xs-2
    .col-xs-2.profile
      = link_to_blank image_tag("images/github-large.png"), "https://github.com/arosini"
    .col-xs-2.profile
      = link_to_blank image_tag("images/stackoverflow.png"), "http://stackoverflow.com/users/2464657/adam"
    .col-xs-2.profile
      = link_to_blank image_tag("images/linkedin.png"), "https://www.linkedin.com/in/adam-rosini/"
    .col-xs-2.profile
      = link_to_blank image_tag("images/gitlab-large.png"), "https://www.jobcase.com/p/adam.rosini"
    .col-xs-2