%section.container-fluid.dark
  .col-xs-12.section-title Skills

  .col-xs-12.skill-category-row
    .skill-category-title Design
    .skill-category-list
      APIs, microservices, data pipelines, monitoring / alerting, instrumentation, databases, ETL, event driven architecture

  %hr.col-xs-4.col-xs-offset-4

  .col-xs-12.skill-category-row
    .skill-category-title Management
    .skill-category-list
      MVPifying requirements, team building, process refinement, mentoring

  %hr.col-xs-4.col-xs-offset-4

  .col-xs-12.skill-category-row
    .skill-category-title Java
    .skill-category-list
      Spring, JPA / Hibernate, JUnit, design, performance optimization

  %hr.col-xs-4.col-xs-offset-4

  .col-xs-12.skill-category-row
    .skill-category-title Databases / Caches
    .skill-category-list
      MySQL, Elasticsearch, Hazelcast, Redis, design, performance optimization

  %hr.col-xs-4.col-xs-offset-4

  .col-xs-12.skill-category-row
    .skill-category-title DevOps
    .skill-category-list
      Docker, Helm, Kubernetes, Bash, AWS / Cloudformation

  %hr.col-xs-4.col-xs-offset-4

  .col-xs-12.skill-category-row
    .skill-category-title Tools
    .skill-category-list
      Git, GitLab CI, Jenkins, Maven, SumoLogic, NewRelic, DataDog