%section.container-fluid.dark
  .col-xs-12.section-title Skills

  #skill-proficiency-legend.col-xs-12
    .col-xs-4.legend-entry
      .pull-right
        .check-mark.high-proficiency &#10004;
        High proficiency 
    .col-xs-4.legend-entry
      .check-mark.medium-proficiency &#10004;
      Medium proficiency
    .col-xs-4.legend-entry
      .pull-left
        .check-mark.past-proficiency &#10004;
        Past proficiency

  %hr.col-xs-10.col-xs-offset-1

  .col-xs-12.skill-category-row
    .col-xs-6.skill-category
      .col-xs-9.pull-right
        .skill-category-title Programming Langauges and Frameworks
        .col-xs-4
          %ul.skill-category-list.high-proficiency
            %li Java
            %li Spring Boot
            %li Rails
            %li CSS
            %li HTML
        .col-xs-4
          %ul.skill-category-list.medium-proficiency
            %li Ruby
            %li JavaScript
            %li JQuery
            %li SenchaTouch
            %li Avro
        .col-xs-4
          %ul.skill-category-list.past-proficiency
            %li ShellScript
            %li C
            %li Android
            %li NodeJS
            %li PERL
    .col-xs-6.skill-category
      .col-xs-9
        .skill-category-title Automated Testing And Static Analysis
        .col-xs-4
          %ul.skill-category-list.high-proficiency
            %li Cucumber
            %li JUnit
            %li Mockito
            %li RestAssured
        .col-xs-4
          %ul.skill-category-list.medium-proficiency
            %li Capybara
            %li Selenium
            %li MiniTest
            %li FindBugs
            %li PMD
        .col-xs-4
          %ul.skill-category-list.past-proficiency
            %li JMeter
            %li RSpec
            %li Jasmine
            %li Rubocop

  %hr.col-xs-10.col-xs-offset-1

  .col-xs-12.skill-category-row
    .col-xs-6.skill-category
      .col-xs-9.pull-right
        .skill-category-title Development Tools and Operations
        .col-xs-4
          %ul.skill-category-list.high-proficiency
            %li Jenkins
            %li Docker
            %li Maven
            %li Gradle
        .col-xs-4
          %ul.skill-category-list.medium-proficiency
            %li Kubernetes
            %li Git
            %li Databus
            %li Ansible
            %li Eclipse
        .col-xs-4
          %ul.skill-category-list.past-proficiency
            %li Puppet
            %li RabbitMQ
            %li Statsd
    .col-xs-6.skill-category
      .col-xs-9
        .skill-category-title Databases, ORMs and Miscellaneous
        .col-xs-4
          %ul.skill-category-list.high-proficiency
            %li MySQL
            %li JPA
            %li Jackson
        .col-xs-4
          %ul.skill-category-list.medium-proficiency
            %li Elasticsearch
            %li Flyway
            %li Mirth
            %li Lombok
        .col-xs-4
          %ul.skill-category-list.past-proficiency
            %li MongoDB
            %li ActiveRecord
            %li D3.JS
            %li Solr
            %li CoreNLP