.panel.panel-default.drop-down-panel
  .panel-heading
    %span.glyphicon.glyphicon-chevron-up
    .panel-title Education
  .panel-body 
    #graduate.col-xs-6
      %table.table.table-striped.table-bordered
        %thead
          %tr.center.bold
            %td{:colspan => "2"} Graduate
        %tbody
          %tr
            %td.bold School
            %td Carnegie Mellon University
          %tr
            %td.bold Location
            %td Pittsburgh
          %tr
            %td.bold Dates Enrolled
            %td Fall 2013 - Fall 2014
          %tr
            %td.bold Degree
            %td= link_to_blank "Masters in Information System Management", "http://www.heinz.cmu.edu/school-of-information-systems-and-management/information-systems-management-mism/index.aspx"
          %tr
            %td.bold Focus
            %td Software Engineering
          %tr
            %td.bold Cumulative QPA
            %td 3.60
    #undergraduate.col-xs-6
      %table.table.table-striped.table-bordered
        %thead
          %tr.center.bold
            %td{:colspan => "2"} Undergraduate
        %tbody
          %tr
            %td.bold School
            %td Carnegie Mellon University
          %tr
            %td.bold Location
            %td Pittsburgh
          %tr
            %td.bold Dates Enrolled
            %td Fall 2009 - Spring 2013
          %tr
            %td.bold Major
            %td= link_to_blank "B.S. in Information Systems", "http://www.cmu.edu/information-systems/"
          %tr
            %td.bold Minor
            %td Computer Science
          %tr
            %td.bold Cumulative QPA
            %td 3.01
