.panel.panel-default.drop-down-panel
  .panel-heading
    %span.glyphicon.glyphicon-chevron-up
    .panel-title Technologies
  .panel-body
    .panel-body-section
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %td.bold Technology
            %td.bold Self-Rating
            %td.bold Comments
        %tbody
          %tr
            %td HTML/CSS
            %td      
              .star.full
              .star.full
              .star.full
              .star.full
              .star.empty
            %td
              I find most things I don't know about HTML and CSS are newer features I haven't needed to use yet. I have been working with them fairly consistently for over 10 years. 
          %tr
            %td Java
            %td      
              .star.full
              .star.full
              .star.full
              .star.full
              .star.empty
            %td
              I took many programming classes in Java as a student, and have recently worked with
              = link_to "Spring.", "#spring"
              I am very familiar with JUnit and Mockito to unit test my Java code. I would like to give myself a higher rating however I have not yet had the chance to work with Java 8 and all its cool new functionality.
          %tr
            %td Ruby
            %td      
              .star.full
              .star.full
              .star.full
              .star.full
              .star.empty
            %td
              I have used Ruby exclusively with Rails. For more information,
              = link_to "see the section about my experience with Rails.", "#ruby-on-rails"
          %tr
            %td Cucumber
            %td      
              .star.full
              .star.full
              .star.full
              .star.full
              .star.empty
            %td
              I have spent a lot of my Rails development time writing Gherkin and Cucumber step definitions. I find them to be not only interesting, but extremely useful.
          %tr
            %td JUnit
            %td      
              .star.full
              .star.full
              .star.full
              .star.full
              .star.empty
            %td
              I haven't spent too much time with JUnit/Mockito/Powermock, however I really like them. I find them easy to use and understand, while being flexible and useful.
          %tr
            %td JavaScript
            %td      
              .star.full
              .star.full
              .star.full
              .star.half
              .star.empty
            %td
              I have worked with JavaScript many times, yet I always find I still have a lot to learn. I have used the raw language, JQuery, frameworks such as
              = link_to "Sencha Touch", "#sencha-touch"
              and most recently learned CoffeScript to write this site. I am also always looking for new Angular2 tutorials, and am excited to try to create something once a stable version is released. I am still trying to master object oriented programming with JavaScript, as well as the the model-view-whatever setup many JavaScript frameworks such as Angular and Backbone provide.
          %tr
            %td SQL
            %td      
              .star.full
              .star.full
              .star.full
              .star.half
              .star.empty
            %td
              I haven't worked extensively with SQL recently, however I did work with it almost daily for about two years. I remember most of the commands and syntax, however am a bit rusty on some of the more advanced commands and patterns.
          %tr
            %td MiniTest
            %td
              .star.full
              .star.full
              .star.full
              .star.empty
              .star.empty
            %td
              I haven't used MiniTest much, but it is my preferred Ruby testing tool. I never used it to test anything very complex, but was satisifed with it when I used it and was able to accomplish evrything I wanted to.
          %tr
            %td RSpec
            %td      
              .star.full
              .star.full
              .star.half
              .star.empty
              .star.empty
            %td
              I don't particularly like the syntax RSpec uses, it confuses me more than any other testing tool I have worked with. As a result I prefer to test with other technologies.
          %tr
            %td Docker/Kubernetes
            %td      
              .star.full
              .star.full
              .star.empty
              .star.empty
              .star.empty
            %td
              I have only just started working with Docker/Kubernetes, however I am very excited about their possibilties as they solve one of my least favorite problems: environment management.
          %tr
            %td MongoDB
            %td      
              .star.full
              .star.full
              .star.empty
              .star.empty
              .star.empty
            %td
              I have not worked too much MongoDB but I think I understood most of the basics when I did. I never had to setup a Mongo database however had to do a lot of upkeep and small bug fixes for ones I have worked with.
          %tr
            %td C
            %td      
              .star.full
              .star.half
              .star.empty
              .star.empty
              .star.empty
            %td
              It has been a long time since I worked with C, and only did so in an academic setting. I don't remember much about syntax but the core concepts C provides are certainly still with me today.
