.panel.panel-default.drop-down-panel
  .panel-heading
    %span.glyphicon.glyphicon-chevron-up
    .panel-title Welcome
  .panel-body
    Welcome to my online resume! I am a software developer who loves to write web applications, APIs and code that reduces programming effort! I am currently looking to continue in my role as a software developer, however one day I hope to lead a team of application developers who architect scalable, reusable solutions which help other development teams.
    %br
    %br
    A link to the PDF version of my resume can be found on the left of the top navigation bar. My online profiles and contact details are on the right of the top navigation bar. You can use the side navigation bar to jump between sections. Any section which includes a
    %span.glyphicon.glyphicon-chevron-up
    or
    %span.glyphicon.glyphicon-chevron-down
    can be collapsed/expanded.
    %br
    %br
    .well
      The stars next to a technology represent my rating of my own knowledge/competence with that technology. My ratings are also affected by the time since I last used the technology. Here are rough explanations of my scale's levels:
      %br
      %br
      %span.star.empty
      %span.star.empty
      %span.star.empty
      %span.star.empty
      %span.star.empty
      \= Never used it 
      %br
      %span.star.full
      %span.star.empty
      %span.star.empty
      %span.star.empty
      %span.star.empty
      \= Familiar with the primary concepts
      %br
      %span.star.full
      %span.star.full
      %span.star.empty
      %span.star.empty
      %span.star.empty 
      \= Familiar with most (or all) of the basic functionality.
      %br
      %span.star.full
      %span.star.full
      %span.star.full 
      %span.star.empty
      %span.star.empty
      \= Familar with some of the more advanced functionality.
      %br
      %span.star.full
      %span.star.full
      %span.star.full
      %span.star.full 
      %span.star.empty
      \= Familiar with most of the advanced functionality
      %br
      %span.star.full
      %span.star.full
      %span.star.full
      %span.star.full
      %span.star.full 
      \= I am able to contribute to the development of the technology (unfortunatly I am not here yet...)
      %br
      %br