#top-navbar= partial 'partials/top-navbar.haml'
#about-me= partial 'partials/about-me'
#experience=partial 'partials/experience'
#skills=partial 'partials/skills'
#projects=partial 'partials/projects'
#education=partial 'partials/education'
#contact=partial 'partials/contact'
#footer=partial 'partials/footer'